---
layout: default
---

<div id='container'>
  <section class='section-hero'>
    <div class='section-content'>
      <h1>Project Alpha</h1>
      <div class='subtitle'>Powering the next breakout story</div>
      <div class='hbox'>
        {% include wordmark-seedplus.svg %}
        {% include wordmark-aws.svg %}
      </div>
      {% assign nextevent = site.events | where: "state", "upcoming" | first %}
      {% if nextevent %}
      <a class='button button-secondary' href='#{{ nextevent.name | slugify }}'>Next stop: {{ nextevent.name }}</a>
      {% else %}
      <a class='button button-secondary' href='#events'>Join in the fun</a>
      {% endif %}
    </div>
  </section>

  <section>
    <div class='section-content'>
      <h2>What's this all about?</h2>

      <p>Launching a startup is difficult and your startup needs all the help it can get to have an edge on the competition. <a class='outbound'href="{{ site.data.urls.seedplus }}">SeedPlus</a> and <a class='outbound' href='{{ site.data.urls.aws }}'>AWS</a> have teamed up to bring you <strong>Project Alpha</strong>.</p>

      <div class='hbox'>
        <div class='infobox'>
          <a class='outbound' href='{{ site.data.urls.seedplus }}'>{% include wordmark-seedplus.svg %}</a>
          <p>Southeast Asia’s premier seed fund</p>
        </div>
        <svg class='logo x' viewBox="0 0 58 58" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g stroke="none" stroke-width="1" fill-rule="evenodd">
            <g transform="translate(-174.000000, -47.000000)">
              <path d="M213,66 L230,66 C234.418278,66 238,69.581722 238,74 L238,78 C238,82.418278 234.418278,86 230,86 L213,86 L213,103 C213,107.418278 209.418278,111 205,111 L201,111 C196.581722,111 193,107.418278 193,103 L193,86 L176,86 C171.581722,86 168,82.418278 168,78 L168,74 C168,69.581722 171.581722,66 176,66 L193,66 L193,49 C193,44.581722 196.581722,41 201,41 L205,41 C209.418278,41 213,44.581722 213,49 L213,66 Z" id="Combined-Shape" transform="translate(203.000000, 76.000000) rotate(-315.000000) translate(-203.000000, -76.000000) "></path>
            </g>
          </g>
        </svg>
        <div class='infobox'>
          <a class='outbound' href='{{ site.data.urls.aws }}'>{% include wordmark-aws.svg %}</a>
          <p>The globally recognized cloud platform for startups</p>
        </div>
      </div>

      <p>Project Alpha aims to seek out and empower high-potential budding startups in Southeast Asia who have dreams of becoming the next breakout story.</p>
      <p>Official media partner: <a href='https://kr-asia.com'><img src="/assets/KR_asia.png" height="43" width="150" align="middle"></a></p>
    </div>
  </section>

  <section>
    <div class='section-content'>
      <h2>How?</h2>

      <p>Together with <strong>acclaimed entrepreneurs and local heroes</strong>, we host events in each of these countries to inspire and target the next generation of founders. Submit your application below and SeedPlus and AWS will pick two startups per city from the submissions to receive:</p>
      <ul>
        <li>Access to <strong>business</strong> and technical <strong>experts</strong> from AWS and SeedPlus</li>
        <li><strong>US$25,000</strong> Activate portfolio package from <a href='https://aws.amazon.com'>AWS</a></li>
        <li><strong>US$50,000</strong> Segment Team Plan from <a href='https://segment.com'>Segment</a></li>
        <li><strong>SGD$50,000</strong> Hyper-Growth Package from <a href='https://stripe.com/'>Stripe</a></li>
        <li><strong>Zero Deposit</strong> Plus heavily discounted package from <a href='https://www.golanturn.com'>Lanturn</a></li>
        <li>Market recognition from AWS and SeedPlus as a high-growth, high-potential ASEAN startup</li>
        <li>Potential seed round funding from SeedPlus</li>
      </ul>
      <p>If you are interested in learning more and to meet SeedPlus and AWS – please be sure to register for the event in the city your startup is located!</p>
      <p class='fineprint'>Seats at the event will be limited so be sure to register early. Don’t worry though – you can still submit your startup into Project Alpha even if you can’t make the event.</p>
      <h3>See our legacy</h3>
      <table>
        <tr><th><a href='/2018/'>2018</a></th><td>saw the launch of Project Alpha in <a href='#kuala-lumpur'>Kuala Lumpur</a>, <a href='#jakarta'>Jakarta</a>, <a href='#bangkok'>Bangkok</a> and <a href='#singapore'>Singapore</a></td></tr>
        <tr><th><a href='#events'>2019</a></th><td>is adding <a href='#ho-chi-minh-city'>Ho Chi Minh City</a> and <a href='#manila'>Manila</a></td></tr>
      </table>
    </div>
  </section>

  <section>
    <div class='section-content section-events' id='events'>
      {% for event in site.events %}
        {% assign year = event.date | date: "%Y" %}
        {% if year != "2019" %}
          {% continue %}
        {% endif %}
      <div class='event{% if event.state == 'tbd' %} event-tbd{% endif %}' id='{{ event.name | slugify }}'>
        <div class='image' style='background-image: url({{ event.image | prepend: '/assets/' }});'></div>
        <h2>{{ event.name }}</h2>
        {% if event.state == 'tbd' %}
        <div class='subtitle'>In {{ event.date | date: "%B" }}</div>
        {% else %}
        <div class='subtitle'>{{ event.date | date: "%e %B %Y" }} at {{ event.venue }}</div>
        {% endif %}
        <p>{{ event.output }}</p>
        <div class='hbox'>
        {% case event.state %}
        {% when 'tbd' %}
          <a class='button button-secondary' href='/#notify'>Be the first to know</a>
        {% when 'upcoming' %}
          {% if event.signup_url %}
            <a class='outbound button button-highlight' href='{{ event.signup_url }}'>Attend the event</a>
          {% else %}
            <div class='button button-disabled'>Attend the event</div>
          {% endif %}
          {% if event.submission_url %}
            <a class='outbound button' href='{{ event.submission_url }}'>Submit pitch</a>
          {% else %}
            <div class='button button-disabled'>Submit pitch</div>
          {% endif %}
        {% when 'submitting' %}
          <div class='button button-disabled'>Attend the event</div>
          <a class='outbound button button-highlight' href='{{ event.submission_url }}'>Submit pitch</a>
        {% when 'over' %}
          <div class='button button-disabled'>Attend the event</div>
          <div class='button button-disabled'>Submit pitch</div>
        {% else %}
          {% include UNHANDLED_EVENT_STATE_CASE %}
        {% endcase %}
        </div>
      </div>
      {% endfor %}

      <div class='announcement'>
        <h2>Finalists announced</h2>
        <div class='subtitle'>Two per city, right here</div>
        <p>At the close of each city event, two startups will be chosen as finalists and recognised as one of the best early stage start-ups in ASEAN. These start-ups will be assigned two primary mentors for three months – one each from AWS and SeedPlus – and be given access to business and technical experts from AWS and SeedPlus.</p>

        <h3 id='notify'>Want to get notified?</h3>
        <p>We'll inform you of new event announcements, deadlines approaching and when finalists are unveiled.</p>

        <form action="https://seedplus.us12.list-manage.com/subscribe/post?u=df792a67039d0fbce135f0405&amp;id=c30e1514e3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_df792a67039d0fbce135f0405_c30e1514e3" tabindex="-1" value=""></div>
        <p class='center'>
          <input type="checkbox" value="1" name="group[16469][1]" id="mce-group[16469]-16469-0" onclick="document.getElementById('submit_button').classList.toggle('button-disabled')">
          <label for="mce-group[16469]-16469-0">I have read and agree to the <a href='{{ site.data.urls.terms_and_conditions }}'>Terms and Conditions.</a></label>
        </p>
        </span>
        <div class="hbox">
          <input required type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder='you@awesome.co'>
          <a class='button button-disabled' id='submit_button' onclick="ga('send', 'event', {eventCategory: 'emailsignup', eventAction: 'click',transport: 'beacon'}); fbq('track', 'Lead'); fbq('track', 'ViewContent', {content_ids: 'mailchimp signup'}); if (!this.classList.contains('button-disabled')) document.getElementById('mc-embedded-subscribe-form').submit()">Stay updated</a>
        </div>
        </form>
      </div>
    </div>
  </section>

  <section>
    <div class='section-content'>
      <h2>How to pitch</h2>

      <p>Fill out the form and submit your five-page pitch deck – simple as that. The <a class='outbound' href='{{ site.data.urls.template_deck }}'>template</a> highlights all the relevant information we are looking for but feel free to add anything that would help us get to know your team, your company or your market better.</p>
      <p>There're also some very objective eligibility criteria:</p>
      <ul>
        <li>HQ or main operations must be in a Project Alpha city (i.e. Kuala Lumpur, Bangkok, Jakarta, Ho Chi Minh City, Manila or Singapore)</li>
        <li>Previously raised no more than US$250,000 in start-up funding</li>
        <li>Submit a 5 page PDF deck in English using the provided pitch deck template.</li>
        <li>All applications submitted after the closing date will not be reviewed.</li>
      </ul>
      <p>We promise to review each and every deck but we will only be following up to ask further questions or to let you know you have been selected for the next round.</p>

      {% assign nextsubmit = site.events | where: "state", "submitting" | first %}
      {% unless nextsubmit %}
        {% assign nextsubmit = site.events | where: "state", "upcoming" | where_exp: "event", "event.submission_url" | first %}
      {% endunless %}
      <div class='hbox'>
        <a class='outbound button button-secondary' href='{{ site.data.urls.template_deck }}'>Download template</a>
        {% if nextsubmit %}
          <a class='outbound button button-highlight' href='{{ nextsubmit.submission_url }}'>Submit pitch deck</a>
        {% else %}
          <div class='button button-disabled'>Submit pitch deck</div>
        {% endif %}
      </div>
    </div>
  </section>

  <section>
    <div class='section-content'>
      <p class='center'>For questions, comments, press inquiries, or to say hi.</p>
      <div class='hbox'>
        <a class='outbound button' href='mailto:projectalpha@seedplus.com'>Contact the organizers</a>
      </div>
    </div>
  </section>
</div>
