---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$white: {{ site.data.visuals.colors.white }};
$yellow: {{ site.data.visuals.colors.yellow }};
$pink: {{ site.data.visuals.colors.pink }};
$blue: {{ site.data.visuals.colors.blue }};
$lilac: {{ site.data.visuals.colors.lilac }};
$purple: {{ site.data.visuals.colors.purple }};
$key: {{ site.data.visuals.colors.key }};
$gray: #9B9B9B;

$breakpoint: 570px; //767px;
$column-breakpoint: 769px;
$page-bg-breakpoint: 1080px;

$content-width: 570px;

$button-z: 0.4rem;

* {
  flex-shrink: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  &:hover {
    color: $gray;
  };
}

html {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-feature-settings: 'lnum';
  font-weight: 500;
  font-size: medium;
  color: $key;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  background: $lilac;
}

p, ul {
  margin-top: 0.2rem;
  margin-bottom: 0.6rem;
  line-height: 1.7;
  & + & {
    margin-top: 0;
  }
  & + h3 {
    margin-top: 1.5rem;
  }
}

h1, h2, h3, .subtitle, .button, b, input[type="email"] {
  font-weight: 900;
  text-align: center;
}
h1, h2, h3, .subtitle {
  letter-spacing: 0.05em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 1.8rem;
}
h3, .subtitle, .button, input[type="email"] {
  font-size: 1rem;
}
h3, .subtitle {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.button {
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
input[type="email"] {
  letter-spacing: 0.15em;
}
p.fineprint {
  font-size: 0.6rem;
}
th {
  font-size: 1.8rem;
  padding-right: 1rem;
  a {
    text-decoration: none;
    &::after {
      content: "\25B6\fe0e";
      font-size: 1rem;
      margin-left: 0.2rem;
    }
  }
}

#container {
  display: flex;
  flex-flow: column nowrap;

  background: $white;
  padding-bottom: 1rem;

  @media (min-width: $page-bg-breakpoint) {
    max-width: 1080px;
    box-shadow: 1rem 1rem 0 $purple;
    margin-bottom: 3rem;
  }
}

section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  background: $white;
  padding: 0.5rem 0;
}

div.section-content {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 1 $content-width;
  padding: 1rem;
  @media (max-width: $page-bg-breakpoint) {
    &:last-of-type {
      margin-bottom: 2rem;
    }
  }
}

div.section-announcement {
  flex: 0 1 $content-width;
  display: flex;
  flex-flow: column nowrap;

  margin: 1rem 1rem;
  padding: 2rem;
  margin-top: 1rem;
  color: white;
  background-color: $purple;

  h2 {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  div.finalist {
    display: flex;
    flex-flow: row nowrap;
    margin: 1rem 0;
    align-items: flex-start;

    a {
      flex: 0 0 10rem;
      height: 10rem;
      background: white;
      padding: 1rem;
      margin-right: 1rem;
      div.logo {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    div.description {
      flex: 1 1 auto;
      display: flex;
      flex-flow: column nowrap;
    }
  }

  position: relative;
  &::before {
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 2;
    width: 3.2rem;
    height: 3.2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    content: '\2b51';
    color: $key;
    font-size: 2.8rem;
    font-weight: 900;
    text-align: center;
    vertical-align: center;
    border-radius: 50%;
    background: $yellow;
    box-shadow: 0 $button-z/2 0 $key;
  }
}



div.section-content.section-events {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  flex: 0 1 auto;

  div.event {
    flex: 1 1 $column-breakpoint/2;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 1rem;
    align-items: stretch;

    & > div.image {
      align-self: stretch;
      flex: 0 0 auto;
      padding-bottom: 100%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    &.event-tbd > div.image {
      //filter: grayscale(100%);
      //opacity: 0.5;
    }
    &.event-tbd .button-secondary::before {
      background-color: $gray;
    }
    h1, h2, h3, h4, .subtitle, p, div.hbox {
      text-align: left;
      padding: 0 2rem;
    }
    div.hbox {
      align-self: stretch;
    }
    a.two, a.three, a.four {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      line-height: 3rem;
      img {
        vertical-align: middle;
        width: 100%;
      }
    }
    a.two {
      float: left;
      width: 30%;
      margin: 1rem 10%;
    }
    a.three {
      float: left;
      width: 18%;
      margin: 1rem 7.5%;
    }
    a.four {
      float: left;
      width: 15%;
      margin: 1rem 5%;
    }
    a.clear {
      clear: left;
    }
  }

  div.announcement {
    margin: 1rem 0;
    padding: 2rem;
    flex: 0 1 $content-width;
    margin-top: 1rem;
    color: white;
    background-color: $purple;
    h2 {
      margin-left: 4rem;
      margin-right: 4rem;
    }
  }

  counter-reset: event 0;
  div.event, div.announcement {
    list-style-type: none;
    position: relative;
    &::before {
      counter-increment: event;
      position: absolute;
      top: 2rem;
      left: 2rem;
      z-index: 2;
      width: 3.2rem;
      height: 3.2rem;

      content: counter(event);
      color: $key;
      font-size: 2.8rem;
      font-weight: 900;
      text-align: center;
      border-radius: 50%;
      background: $yellow;
      box-shadow: 0 $button-z/2 0 $key;
    }
  }
}

section:nth-of-type(2) > div.section-content {
  background: $blue;
}
section:nth-of-type(3) > div.section-content {
  background: $yellow;
}
section:nth-last-of-type(2) > div.section-content {
  background: $yellow;
}
section:nth-last-of-type(1) > div.section-content {
  background: $white;
}

$hero-w: 2160px;
$hero-h: 1080px;

.hbox {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  & + .hbox {
    margin-top: 1rem;
  }
}

div.partnerbox {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  flex: 0 0 25%;
  p {
    text-align: center
  }
}

div.infobox {
  flex: 1 1 0;
  display: block;
  padding: .5rem;
  margin: .5rem;
  text-align: center;
  box-shadow: 0 $button-z/2 0 $key;
  &:nth-of-type(2n) {
    background: $yellow;
  }
  &:nth-of-type(2n+1) {
    background: $pink;
  }
}
svg.logo {
  fill: $key;
}
a.partner {
  width: 100%;
}
svg.x {
  flex: 0 1 3rem;
  margin: .5rem;
}
svg.seedplus-wordmark {
  margin: 1rem 15%;
}
svg.aws-wordmark {
  margin: 1rem 30%;
}

section.section-hero {
  min-height: $hero-h/2;
  background: url("assets/hero.svg") center/cover no-repeat, $white;
  align-items: stretch;

  h1, .subtitle {
    margin-top: 0;
    margin-bottom: 0.1em;
  }

  @media (max-width: $breakpoint) {
    h1 {
      font-size: 2.3rem;
    }
  }

  div.section-content {
    max-width: 570px;
    margin: 0;
    padding-top: 160px + 10px;
    padding-bottom: 180px + 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  svg.seedplus-wordmark {
    width: 5rem;
    margin: 0.5rem 1rem;
  }
  svg.aws-wordmark {
    width: 2.5rem;
    margin: 0.5rem 1rem;
  }
}

/* Resets */
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

p.center {
  text-align: center;
}

input[type="checkbox"] {
  position: absolute;
  left: -5000px;

  & + label::before {
    display: inline-block;
    content: '\2713';
    background: $white;
    color: $key;
    border: 1px solid $key;
    box-shadow: inset 0 1px $gray, 0 $button-z 0 $key;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  & + label:hover::before {
    color: $gray;
    transform: translate(0, $button-z/2);
    box-shadow: 0 $button-z/2 0 $key;
  }
  &:not(:checked) + label:not(:hover)::before {
    color: $white;
  }
  &:checked + label::before {
    color: $key;
  }
}

.button, input[type="email"] {
  display: block;

  text-decoration: none;

  position: relative;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  z-index: 0;

  margin: 0 0.5rem 1rem 0.5rem;
}

input[type="email"] {
  border: 1px solid $key;
  box-shadow: inset 0 1px $gray, 0 $button-z/2 0 $key;
  border-radius: 0.5rem;

  margin-bottom: 1rem - $button-z/2;
  &::placeholder {
    color: $gray;
  }
}

.button, input[type="submit"] {
  &::before {
    color: $white;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    border-radius: 0.5rem;
    background-color: $yellow;
    box-shadow: 0 $button-z 0 $key;
  }

  &.button-disabled {
    color: $key;
    &::before {
      background: repeating-linear-gradient(-45deg, $gray 0, $gray 0.2rem, $key 0.2rem, $key 0.3rem);
    }
  }

  &.button-highlight::before {
    background-color: $pink;
  }
  &.button-secondary::before {
    background-color: $blue;
  }

  &:hover:not(.button-disabled) {
    color: $white;
    padding-top: 0.7rem + $button-z/2;
    padding-bottom: 0.7rem - $button-z/2;
  }
  &:hover:not(.button-disabled)::before {
    transform: translate(0, $button-z/2);
    box-shadow: 0 $button-z/2 0 $key;
  }
}
